@import url("https://cdn.jsdelivr.net/npm/katex/dist/katex-swap.min.css");

[un-cloak] {
  display: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline-block;
}
